@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdb9b9; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #dfdada #f1f1f1; 
}

.react-calendar {
  width: 100% !important;
  padding: 1rem;
  border: none;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.react-calendar__tile {
  padding: 1em 0.5em;
  text-align: center;
  line-height: 1.5;
}

.highlight {
  background-color: #ffeb3b; 
  border-radius: 50%;
}

.appointment {
  text-align: center;
  font-size: 0.75rem;
}

.appointment-title {
  font-weight: bold;
}

.appointment-time {
  font-style: italic;
}
